.simple-banner{
  &.banner-container{
    position: fixed;
    max-width: 100%;
    display: none;
    .simple-banner-wrapper{
       max-width: 450px;
    }

  }
  &.popup-container{
    position: fixed;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .simple-banner-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

  }
  &.opener{
    position: fixed;
    max-width: 100%;
    display: none;
    background: #45aac6;
    color: #fff;
    cursor: pointer;
    padding: 3px 10px;
    min-width: 150px;
    font-family: Arial;
    border-radius: 2px;
    box-shadow: #444 0px 0px 2px;
  }
  img{
    max-width: 100%;
    display: block;
    border: 1px solid #fff;
  }
  .close{
    font-family: Verdana;
    font-size: 11px;
    position: absolute;
    background: rgba(255,255,255,0.75);
    color: #000;
    display: block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;

    cursor: pointer;
  }
}
